@charset "utf-8";

/*------------------------------------------------------------------
[Table of contents]

1. Small desktop
2. Tablet landscape
3. Tablet Portrait
4. Phone
5. Small Phone
6. Max Height 768
-------------------------------------------------------------------*/

/* ==============================
   Small desktop
   ============================== */

@media only screen and (max-width: 1366px) {
	
    	
    .inner-nav ul li {
        margin-left: 25px;
    }
	
}  

@media only screen and (max-width: 1200px) {

    .hs-line-1 {
        letter-spacing: 40px;
    }

    .work-grid-5 .work-item{
        width: 25%;
    }

}
@media only screen and (max-width: 1199px) {

    .tpl-alt-tabs > li{
        width: 170px;
    }

}

/* ==============================
   Tablet landscape
   ============================== */

@media only screen and (max-width: 1024px) {

    .hs-line-1 {
        letter-spacing: 30px;
    }

    .hs-line-10 > span {
        margin: 0 1px;
    }

    .page-section{
        padding: 120px 0;
        
    }
    .page-section, .home-section, .small-section{
        background-attachment: scroll;
    }
	
    .owl-pagination {
        bottom: 25px;
    }

    #home[data-background] {
        width: 100%;
    }
}
  
@media only screen and (max-width: 992px) {
    
    .hs-line-1 {
        letter-spacing: 23px;
    }

    .mod-breadcrumbs:not(.align-center):not(.mod-breadcrumbs-mini){
        text-align: left !important;
    }
    
    .tpl-alt-tabs > li{
        width: 200px;
    }

    .banner-image {
        margin: 40px 0;
    }

	.team-item-name{
		font-size: 13px;
	}

    .work-item,
	.work-grid-3 .work-item,
    .container .work-grid-3 .work-item,
    .work-grid-5 .work-item{
        width: 50%;
    }

    .countdown > li{
        margin: 0 20px;
    }

    .countdown-number > b{
        bottom: 18px;
    }   
	
}
  
  
/* ==============================
   Tablet Portrait
   ============================== */
  
@media only screen and (max-width: 768px) {

    .page-section {
        padding: 80px 0;
    }	
    .small-section {
        padding: 50px 0;
    }

    .owl-pagination {
        bottom: 17px;
    }

    .tpl-minimal-tabs > li {
        padding: 0 5px;
    }

    .works-filter a{
		padding-left: 10px;
		padding-right: 10px;
		margin: 4px;
	}

}

@media only screen and (max-width: 767px) {

    .hs-line-1 {
        font-size: 24px;
    }

    .hs-line-6{
        font-size: 16px;
    }

    .hs-line-10 > span {
        margin: 0;
    }
    
    .hs-line-11{
        font-size: 24px;
    }

    .team-item{
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .alt-features-grid {
        margin-top: -30px;
    } 
    .alt-features-item {
        margin-top: 30px;
    }

    .works-filter a{
		padding-left: 10px;
		padding-right: 10px;
		margin: 4px;
		width: 46%;
		font-size: 11px;
	}

    blockquote p {
        font-size: 20px;
    }
    
    blockquote footer {
        margin-top: 0;
        font-size: 12px;
    }   

    .banner-content {
        text-align: center;
    } 
    .banner-image {
        text-align: center;
    }
    
    
    .cf-left-col,
    .cf-right-col{
        width: auto;
        margin-right: 0;
        float: none;
    }

    .top-links li,
    .top-links li:last-child{
        float: none;
        border:none;
        display: inline-block;
    }
    .top-links li a{
        display: inline-block;
        min-width: 0;
        height: auto;
        line-height: 1;
        padding: 0 5px;
    }
    .top-links li a:hover,
    .top-bar.dark .top-links li a:hover{
        background: none;
    }

    .sp-menu-links a{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .countdown > li{
        margin: 0 10px 20px;
    }

    .countdown-number > b{
        bottom: -20px;
        font-size: 9px;
        color: rgba(255,255,255, .85);
    }
}


/* ==============================
   Phone
   ============================== */
  
@media only screen and (max-width: 480px) {

    .hs-line-1 {
        font-size: 20px;
        letter-spacing: 18px;
    }

    .hs-line-6 {
        font-size: 15px;
    }

    .hs-line-11 {
        font-size: 20px;
        letter-spacing: 0.2em;
    }

    .scroll-down {
        bottom: 10px;
		height: 34px;
		line-height: 34px;
    }
    .scroll-down-icon {
        width: 22px;
        margin-left: -11px;
    }	
	.scroll-down span{
		display: none;
	}

    .page-section {
        padding: 60px 0;
    }
    .small-section {
        padding: 30px 0;
    }
	
	.owl-pagination {
        bottom: 10px;
    }

    .section-text {
        font-size: 15px;
        line-height: 1.7;
    }
	
	.tpl-minimal-tabs > li {
        padding: 0;
    }
    .tpl-minimal-tabs > li > a {
        padding: 6px 10px 5px;
    }

    .tpl-alt-tabs > li{
        width: 120px;
    }

    .section-text,
	.text{
		line-height: 1.7;
	}

    .works-filter a{
		width: 100%;
        margin-left: 0;
        margin-right: 0;
	}	
	
	.work-item,
    .work-grid-2 .work-item,
	.work-grid-3 .work-item,
    .container .work-grid-3 .work-item,
    .work-grid-5 .work-item {
        width: 100%;
    }

    .blog-item-q p{
		font-size: 16px;
	}

    .tpl-tabs > li{
        display: block;
        float: none;
        width: 100%;
    }
    .tpl-tabs > li.active a{
        background: #f5f5f5 !important;
    }
    
    .fm-menu-links a{
        font-size: 14px;
    }
}


/* ==============================
   Small Phone
   ============================== */
  
@media only screen and (max-width: 319px) {

}


/* ==============================
   Max Height 768
   ============================== */

@media only screen and (max-height: 767px) {

}


/* ==============================
   IOS Background Fix
   ============================== */
  
.mobile .page-section, .mobile .home-section, .mobile .small-section{
    background-attachment: scroll;
}